@import 'reset';
@import 'variables/global';
@import 'themes/normal';
@import 'themes/dark';

.app {
    font: var(--font-m);

    background: var(--bg-color);
    color: var(--text-color);

    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
}

button {
    color: var(--text-color);
}

.main-page {
    display: flex;
}

.main-content {
    flex-grow: 1;
}
