.appLink {
  color: var(--text-color);
  text-decoration: none;
}

.appLink:hover {
  text-decoration: underline;
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--secondary-color);
}
