.appLink {
  color: var(--text-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.appLink:hover {
  opacity: 0.7;
}

.appLink:hover {
  text-decoration: underline;
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--secondary-color);
}
