{
  "printWidth": 100,
  "semi": true,
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "singleAttributePerLine": true,
  "bracketSameLine": false
}
