.app_dark_theme {
  --primary-color: #66bb6a; /* Основной цвет: Зеленый (светлый оттенок для контраста) */
  --secondary-color: #ffd54f; /* Второстепенный цвет: Желтый (теплый, но не слишком яркий) */
  --accent-color: #ff7043; /* Акцентный цвет: Оранжевый (яркий, для выделения важных элементов) */

  --bg-color: #263238; /* Фоновый цвет: Темно-серый (не черный, чтобы не было слишком контрастно) */
  --secondary-bg-color: #37474f;

  --text-color: #fafafa; /* Цвет текста: Почти белый (для хорошей читаемости) */
  --border-color: #37474f; /* Цвет границ: Темно-серый (чуть светлее фона для легкого выделения элементов) */

  --skeleton-color: #45a848;
  --skeleton-shadow: #66bc69;
  --card-bg: #3c5663d4;
}
