.app_light_theme {
  --primary-color: #4caf50; /* Основной цвет: Зеленый (символизирует рост и надежду) */
  --secondary-color: #ffeb3b; /* Второстепенный цвет: Желтый (свет и позитив) */
  --accent-color: #ff5722; /* Акцентный цвет: Оранжевый (энергия и тепло) */

  --bg-color: #ffffff; /* Фоновый цвет: Белый (чистота и простота) */
  --secondary-bg-color: #f5f5f5;

  --text-color: #212121; /* Цвет текста: Темно-серый (контрастный, но не резкий) */
  --border-color: #e0e0e0; /* Цвет границ: Светло-серый (незаметный, но выделяющий элементы) */

  --skeleton-color: #45a848;
  --skeleton-shadow: #66bc69;
}
