.trigger {
  cursor: pointer;
}

.list {
  display: flex;
  flex-direction: column;
  outline: none;
}

.item {
  padding: 10px;
  background-color: var(--card-bg);
}

.focus {
  background-color: var(--secondary-bg-color);
}
